/* =============================================================================
Layout
============================================================================= */
@use 'variables' as *;

.container {
  width: var(--container);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.container--reading {
  max-width: var(--reading);
}

.frame {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}
